body {
  background-color: #111;
  color: #fff;
}

a {
  color: hwb(199 38% 0%);
}

a:hover {
  color: hwb(199 58% 0%);
}

a:active {
  color: hwb(199 38% 0%);
}

button {
  border-color: #fff;
  background-color: #fff;
  color: #000;
}

button:hover {
  background-color: hwb(199 82% 0%);
}

button:active {
  background-color: hwb(199 38% 0%);
}

#box {
  background-color: #222;
  filter: drop-shadow(0 0 400px hwb(199 20% 0%));
  border-color: hwb(199 0% 80%);
}

#KofiLogo {
  filter: invert(1);
}